.campersListItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  background-color: rgba(247, 244, 247, 0.5);
  width: 888px;
}

.img {
  object-fit: cover;
  width: 290px;
  height: 310px;
  border-radius: 10px;
}
.wrapDescription {
  width: 525px;
}
.wrapTittle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}
.tittleLeftBlock {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
}
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.favoriteBtn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: rgb(16, 24, 40);
}

.favoriteBtn:hover .heart,
.favoriteBtn:focus .heart {
  stroke: #e44848;
  fill: #e44848;
  border: none;
}

.wrapLocal {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 22px;
}
.reviews {
  color: rgb(16, 24, 40);
  text-align: left;
  text-decoration-line: underline;
  display: flex;
  gap: 4px;
}
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  color: rgb(71, 84, 103);
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 24px;
}
.equipmentList {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.equipmentItem {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: rgb(242, 244, 247);
}
.equipmentItem p {
  font-weight: 500;
  line-height: 20px;
}
.icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: rgb(16, 24, 40);
  stroke-width: 1.5px;
}
.upperFirstLetter {
  text-transform: capitalize;
}
