.wrapForm {
  padding: 24px;
  width: 448px;
}

.wrapForm h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
subTittle {
  color: rgb(71, 84, 103);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form input,
.form textarea {
  padding: 18px;
  min-width: 400px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  border: none;
  outline: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba(16, 24, 40, 0.6);
}
.form textarea {
  resize: none;
  height: 114px;
}
.btn {
  width: 160px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 60px;
  border-radius: 200px;
  background-color: rgb(228, 72, 72);
  transition: background-color 3ms ease-in-out;

  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: -0.5%;
}

.btn:hover,
.btn:focus {
  background-color: rgb(216, 67, 67);
}
.form .error {
  color: red;
  font-size: 12px;
  margin-bottom: 0px;
}
