.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 100vh;
  padding: 30px 60px;
  background-image: url("../../assets/trip.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.text {
  margin: 0 auto;
  font-weight: 600;
  font-size: 26px;
  padding-bottom: 35%;
}
