:root {
  font-family: Inter, system-ui;
  line-height: 1.5;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(16, 24, 40);
  box-sizing: border-box;
  max-width: 1280px;
}

h1,
h2,
button,
a,
p {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./assets/trip.jpg");
  padding: 30px;
  background-size: cover;
}

ol,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  color: rgb(16, 24, 40);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
